/* Copyright 2020 Jacques Cuenca. License GPLv3+: GNU GPL version 3 or later <https://gnu.org/licenses/gpl.html>. */

/* This program is free software and is distributed under the terms of the GNU General Public License, version 3 or any later version. A copy of the license can be found here: https://www.gnu.org/licenses/gpl-3.0.en.html */

:root {
    --c: #2476b7;
    /* --f: sans-serif; */
    --f: 'Varela Round', sans-serif;
    /* font-size: 15px; */
    --fs: 12pt;
}



/* ACOUTECT FONTS */
/* latin-ext */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfqcuPP9g.woff2) format('woff2');
    /* unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; */
}
/* latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
    /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}




html {
    overflow-y: scroll;
    background-color: #fff; color: #333;
    
    /* font-family: 'Varela Round', sans-serif; */
    
}


.header {
    clear: both;
    font-size: 1.5em;
    padding: 0.7ex 0.7ex 0.7ex 0.7em;
    text-align:left;
    text-decoration: none;
    max-width:100%;
    /* overflow: hidden; */
    /* height: 100px; */
    /* background: #ddd url(images/logo.png) 100% 1% no-repeat;  */
}

.header a {
    /* background: #000 url(images/logo.png); */
    /* color: #ddd; */
}

.header:hover {
    /* background-color: #111; */
    /* transition: All 40s ease; */
}

.logo {
    max-width:50%;
    height:auto;
    max-height:100px;
}

.logo_a, .logo_s {max-height:100px;}
.logo_a {max-width:65%;}
.logo_s {max-width:35%;}

.logo_a img, .logo_s img {
    max-width:100%;
    max-height:100px;
}

.logo_a { float:left; }

.logo_s { float:right; }

h1, h2, h3, h4 {font-family:var(--f);}

body {
    background-color: #fff; color: #333;
    /* background-color: #222; color: #eee; */
    /* margin-left: 20%; */
    /* margin-right: 10%; */
    /* margin: auto; */
    /* min-width: 500px; */
    /* max-width: 800px; */
    font-family: var(--f);
    font-size: var(--fs);
    padding: 0;
    margin: 0;
    /* background-image: url(images/cardboard.jpg); */
}

a {color: var(--c)}

p {
    color: body.color;
    font-family: var(--f);
}

li {
    padding: 0px 0px 20px 0px;
}

ul {
    padding: 0px 0px 0px 20px;
    list-style-type: square;
}


table {
    width: 90%;
    /* padding: 5px 5px 5px 5px; */
    cellspacing:10px;
}
td {
    width: 30%;
    padding: 20px 5px 20px 5px;
    cellspacing:10px;
    text-align: center;
}

fieldset {
    /* border-color: transparent; */
    border-color: var(--c);
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    background-color: #fff; color: #000;
    /* color: ; */
    /* border: 0px solid #fff; */
    padding: 30px;
    margin: 0 0 30px 0;
    text-align: left;
    transition: All 200ms ease;
    max-width:100%;
}

fieldset:hover {
    background-color: var(--c); color: #fff;
}

legend, .question {
    background-color: var(--c);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;		     
}

body {
    counter-reset: question;
}

.question::before{
    counter-increment: question;
    content: counter(question)" ";
}

.button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;
    width: 20px;

    border-color: transparent transparent transparent #ddd;
    transition: 0ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 15px 0px 15px 22px;
}

.button:hover {
    border-color: transparent transparent transparent #fd0;
}

/* .button:pause { */
/*     border-style: double; */
/*     border-width: 0px 0 0px 50px; */
/* } */

.content {
    margin:auto;
    width: 50em;
    max-width: 90%;
    padding: 1.5em;
    /* border-left: 2px #ccc solid; /\*dotted dashed*\/ */
    /* border-bottom: 2px #ccc solid; /\*dotted dashed*\/ */
    border-left: 0px #ddd dotted; /*dashed*/
}

.menu {
    clear: both;
    overflow: hidden; /*prevents hovered items to exceed menu size*/
    background-color: var(--c);
    background-image: linear-gradient(to right, var(--c), #059B9B);
    padding: 1ex .7ex 1ex .7ex; /*top right bottom left*/
    /* border-top: 5px solid var(--c); */
    /* border-top-color: var(--c); */
    /* border-bottom: 0px solid #069; */
}

.menu a {
    padding: 1ex;
    color: #fff;
}

.menu a:hover {
    background-color: #888;
    /* transition: All 0ms linear; */
}

.right {
    float: right;
    /* margin: 0; */
    /* padding: 0; */
}

.slider {
    /* -webkit-appearance: none;  /\* Override default CSS styles *\/ */
    /* appearance: none; */
    width: 100%;
    height: 15px;
    background: #ddd;
    opacity: 0.7;
    transition:.2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-moz-range-thumb, .slider::-webkit-slider-thumb {
    width: 15px;
    height: 25px;
    background: #ddd;
    border-width:2px;
    border-color:#888;
    cursor: pointer;
    /* -webkit-appearance: none; */
}

/* input { background-color:#f00 } */

footer {
    font-size: 11pt;
    color:#ddd;
    background: var(--c);
    /* background-image: linear-gradient(to right, var(--c), #059B9B); */
    padding: 10px;
}

footer a {
    color:inherit;
    text-decoration:none;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding:0;
}

/* For mobile devices: */
@media screen and (max-width:800px) {
    fieldset { padding: 30px 10px 10px 10px; }
    fieldset:hover { background:#fff; color:#000 }
}


/* .navbar { */
/*     float: left; */
/*     margin: 0 1px 0 0; */
/*     padding: 1em 0; */
/*     width: 200px; */
/* } */

/* .navbar a:hover { */
/*     background-color: var(--c); /\* color: #111; *\/ */
/*     /\* text-transform: uppercase; *\/ */
/*     align-content: center; */
/*     /\* box-shadow: 2px 2px 3px #888888; *\/ */
/*     transition: All 0ms ease; */
/* } */

/* .navbar ul { */
/*     margin: 0; */
/*     padding: 0; */
/* } */

/* .navbar li { */
/*     list-style: none; */
/*     padding: 0; */
/*     margin: 0; */
/* } */

/* .navbar li ul { */
/*     padding-left: 0.6em; */
/* } */

/* .navbar li a { */
/*     display: block; */
/*     margin: 0; */
/*     padding: 1ex 1ex 1ex 1em; */
/* } */

/* .header a, .navbar a, .menu a { */
/*     text-decoration: none; */
/* } */

/* .navbar a:hover { */
/*     background-color: #ddd; */
/* } */
